<div *ngIf="isUserLogged()" class ="misDatos">
  <ul>
    <h3> Nombre: {{ user._name }}</h3>
    <h3>Apellidos: {{ user._surname }}</h3>
    <h3>Nº Teléfono: {{ user._phoneNumber }}</h3>
    <h3>Nº Cuenta: {{ user._account.idAccount }}</h3>
    <h3>DNI/NIF: {{user._dni}}</h3>
    <h3>Email: {{user._email}}</h3>
    <h3>Pais: {{user._country}}</h3>
    <h3>Sexo: {{user._gender}}</h3>
    <h3>Direccion: {{user._address}}</h3>
    <h3>Fecha Nacimiento: {{user._birthDate | date: 'shortDate'}}</h3>
  </ul>
</div>

<div *ngIf="isUserLogged()" class ="misDatos">
  <ul>
      <h3> Mis Monederos:</h3>
      <ul>
        <h4>Monedero 1</h4>
        <h4>Monedero 2</h4>
        <h4>Monedero 3</h4>
        <h4>Monedero 4</h4>
        <h4>Monedero 5</h4>
        <h4>Monedero 6</h4>
        <h4>Monedero 7</h4>
      </ul>
  </ul>
</div>