.titulo {
    margin: 0px;
    padding: 40x;
    border: 50px;
    background-color: #000000;
}

h1 {
    color: #EEEEEE;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
