<header class="animated fadeInDown" id="navbar">
    <div class="topnav">
      <div class ="logo">
        <a routerLink="home">
            <img class="imgLogo" height="45px" width="45px" src="./../../assets/moneda.png">
            <h1 class="name">Tr$ps</h1>    
        </a>
      </div>

      <div class="links">
        <a routerLink="wallet">MI CARTERA</a>
        <a routerLink="info">MIS DATOS</a>
        <a routerLink="operations">OPERACIONES</a>
        <a routerLink="help">AYUDA</a>
      </div>

      <div class="userData">
          <a routerLink="register">REGISTRATE</a>
          <a routerLink="login">INICIA SESION</a>
      </div>
      
    </div>

      
</header>  

