<header class="animated fadeInDown" id="navbar">
    <div class="topnav">
      <div class ="logo">
        <a routerLink="home">
            <img class="imgLogo" height="45px" width="45px" src="./../../assets/moneda.png">
            <h1 class="name">Tr$ps</h1>    
        </a>
      </div>

      <div class="links">
        <a routerLink="wallet" routerLinkActive="active">MI CARTERA</a>
        <a routerLink="info" routerLinkActive="active">MIS DATOS</a>
        <a routerLink="operations" routerLinkActive="active">OPERACIONES</a>
        <a routerLink="help" routerLinkActive="active">AYUDA</a>
      </div>

      <div class="userData">
          <a routerLink="register" routerLinkActive="active">REGISTRATE</a>
          <a routerLink="login" routerLinkActive="active">INICIA SESION</a>
      </div>
      
    </div>

      
</header>  

